body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.dog-head {
  z-index: 100;
  animation: head-move 1s ease-in-out infinite;
}

/*ANIMATIONS
---------------------------------------------------------*/

@keyframes head-move {
  50% { 
    -webkit-transform: rotate(-5deg); 
  }
}